html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.cell {
	display: flex;
	align-items: center;
}

.id-name-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: visible;
}

p {
	margin: 0;
	font-size: 10px;
	font-weight: bold;
}

.sprite {
	width: 1.4cm;
	height: auto;
}
.flag-icon {
	width: 1.2rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	justify-content: center;
	padding-right: 4px;
	max-width: 100%;
}
/* for portrait mode*/
/* .container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	padding-right: 4px;
	max-width: 100%;
} */

.pokemon-id {
	font-style: italic;
	font-weight: 400;
}

input[type="checkbox"] {
	transform: scale(0.9);
	margin: 1px;
}

.generate {
	margin: 20px 0 5px 10px;
}

@page {
	size: landscape;
}
/* for portrait mode*/
/* @page {
	size: portrait;
} */

@media print {
	.generate {
		display: none;
	}
}
